body {
background-color : #0ff100;
margin :0;
}
#navbar{
    height :50px;
    width :100%;
    background-color: lightslategray;
}
#keys{
    margin-left: 3%;
    margin-top :1%;
    color :white;
    float:left;
    font-size :30px;

}
 

   