body{
    background-color:green;
    margin: 0;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}
#foote{
    background-color: white;
    height: 70px;
    width: 100%;
    margin-top: 860px;
 
}
.footer-section {
    float:left;
    width:7%;
    font-size: 30px;
    margin-top: 1%;
    margin-left: 1%;

  }