*{
    border-radius:9px;
}
body{
    background: green;
    margin: 0;
}
.container{
    margin: 0;
}

.header{
    width:100%;
    background: black;  
    padding: 7px;
    border-radius:0px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.header li{
    display: inline;
    margin: 2%;
    font-size: 30px;
    color: white;
}

.top-container{
    height: 30%;
    display: flex;

}

.stock-container{
    width: 30%;
    height: 80%;
    display: flex;
    margin: 20px;
    margin-left: 100px;
}
.stock{
    height: 100%;
    width: 30%;
    border: lightslategray 3px dotted;
    
    margin-left: 60px;
}

.target-container{
    width:70%;
    display: flex;
    margin:20px;
    height:80%;
}
.target{
    height: 100%;
    width: 13%;
    border: lightslategray 3px dotted;
    margin-left: 40px;
}
.bottom-container{
    height:60%;
    display: flex;
    padding-left:200px;
}
.col{
    height:40%;
    width:9%;
    border: lightslategray 3px dotted;
    margin-left: 20px;

}